<section class="container">
  <div class="content">
    <h2 class="content__subtitle">Computer vs Human!</h2>
    <h3 class="content__player">
      Computer:<span class="content__span js_computer"></span>
    </h3>
    <h3 class="content__player">
      Human: <span class="content__span js_user"></span>
    </h3>
  </div>
  <div class="content__result js_result"></div>
  <div class="contentBtns">
    <h4 class="contentBtns__instructions">Click on your choice</h4>
    <div class="contentBtns__btns">
      <input
        class="contentBtns__btns--rockBtn js_btn"
        id="rock"
        type="image"
        src="./assets/images/stoneHand.png"
      />
      <input
        class="contentBtns__btns--rockBtn js_btn"
        id="scissors"
        type="image"
        src="./assets/images/scissorHand.png"
      />
      <input
        class="contentBtns__btns--rockBtn js_btn"
        id="paper"
        type="image"
        src="./assets/images/paperHand.png"
      />
    </div>
  </div>
</section>
