<section class="content">
  <h3 class="player">Computer:</h3>
  <h3 class="player">Human:</h3>
  <h4 class="instructions">Click on you choice</h4>
  <div class="btns">
    <input
      class="btns__rockBtn"
      type="image"
      src="../assets/images/stoneHand.png"
    />
    <input
      class="btns__rockBtn"
      type="image"
      src="../assets/images/scissorHand.png"
    />
    <input
      class="btns__rockBtn"
      type="image"
      src="../assets/images/paperHand.png"
    />
  </div>
</section>
