<header class="header">
  <div class="header__headerImgs">
    <img
      src=""
      alt=""
      class="header__headerImgs--headerRock js-imgHeaderStone"
    />
    <img
      src=""
      alt=""
      class="header__headerImgs--headerScissors js-imgHeaderScissors"
    />
    <img
      src=""
      alt=""
      class="header__headerImgs--headerPaper js-imgHeaderPaper"
    />
  </div>
  <div class="header__headerTitles">
    <h1 class="header__headerTitles--title">Rock Paper Scissors</h1>
  </div>
</header>
