.content{
    display:flex;
    flex-direction: column;
    text-align: center;
   
    margin-left: 14em;
    font-family: 'Courier New', Courier, monospace;
   

  
}
.player{
    margin: 40px 0 0 0;
}

.instructions{
    margin: 40px 0 20px 0;
}


.btns__rockBtn{
    width: 100px;
    height: 100px;
    
}

.btns__rockBtn:hover {

    transform: translateY(-6px) scale(1.1);
    transition: transform 0.3s ;
  
  }


